* {
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #fff7d4;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo img {
    max-width: 80px;
    height: 50px;
}

.carrinho img {
    max-width: 50px;
}

nav {
    display: flex;
    align-items: center;
}

/* Estilos do menu de navegação */
.pudim {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.pudim-line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    display: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .pudim {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links section {
        width: 280px;
    }

    .pudim.mostrar-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 20px;
    }

    .pudim-line.mostrar-menu {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 2px 0;
    }

    .nav-links.mostrar-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 75px;
        right: 0px;
        background-color: #fff7d4;
        padding: 10px;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

    .nav-links.mostrar-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Estilos do conteúdo principal */
main {
    width: 100%; 
    max-width: 1200px;  
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para os produtos */

.produto {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.produto img {
    width: 100%;
}

span {
    font-weight: bold;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para a seção do carrinho */
.carinho_compras{
    margin-left: auto;
    margin-right: auto;
}
section.carrinho {
    background-color: #fff7d4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para a lista de itens do carrinho */

.carrinho-itens {
    border: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos para cada item do carrinho */
.carrinho-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.carrinho-item:last-child {
    border-bottom: none; 
}

/* Estilos para o total do carrinho */
.total-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilos para o botão Finalizar Compra */
button.finalizar-compra-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button.finalizar-compra-btn:hover {
    background-color: #555;
}
/*estrutura do carrossel*/
.carousel-control-prev-icon{
    background-color: #333;
    margin-right: 25px;
}
.carousel-control-next-icon {
    background-color: #333;
    margin-left: 25px;
}


/* Estilos do rodapé */
/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 10px;
    text-align: left;
}

/* Estilos para a seção dos links */

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #2189cf;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ffebc5; /* Altere a cor desejada para o hover */
}


/* Estilos para o título "VOLPINI PUDINS" no rodapé */
footer h3 {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilos para as redes sociais no rodapé */

.redes-sociais{
    margin-left: -180px;
    padding-top: 5px;
}
footer .redes-sociais ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer .redes-sociais ul li {
    margin: 0 10px;
}

footer .redes-sociais ul li a {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    border-radius: 50%;
    background-color: #ffebc5;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

footer .redes-sociais ul li a:hover {
    background-color: #333;
    color: #fff;
}


footer h3 {
    color: #fff;
}

.redes-sociais ul {
    display: flex;
}
.redes-sociais ul li{
    display: flex;
}

footer a img {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    margin-right: 0.5px;
}
